.card-preview{
    border: 1px solid black;
    width: 60px;
    height: auto;
    margin: 5px;
    background-color: white;
    position: relative;
    h2{
      width: 100%;
    }
    .card-suit{
      width: 1rem;
    }
}